<h1 class="header">{{formRenderData.name}}</h1>

<br><br>
<div *ngFor="let form of formRenderData.field" [ngSwitch]="true">
  <div *ngFor="let f of form.section">
    <div class="formRender" *ngFor="let formData of f.childField">

      <mat-form-field appearance="outline" *ngSwitchCase="formData.type === 'EDIT_TEXT'"
        [ngStyle]="{'width':(f.childField.length === 2) ? '720px' : (f.childField.length === 3) ? '480px'  : (f.childField.length >= 4) ? '345px' : '1490px'}">
        <mat-label>{{formData.title}}</mat-label>
        <input matInput placeholder="">
      </mat-form-field>

      <mat-form-field appearance="outline" *ngSwitchCase="formData.type === 'EDIT_TEXT_PHONE'">
        <mat-label>{{formData.title}}</mat-label>
        <input matInput placeholder="">
        <i class="material-icons" matSuffix>phone</i>
      </mat-form-field>

      <div *ngSwitchCase="formData.type === 'DROPDOWN'">
        <mat-form-field appearance="outline"
          [ngStyle]="{'width':(f.childField.length === 2) ? '720px' : (f.childField.length === 3) ? '480px'  : (f.childField.length >= 4) ? '345px' : '1490px'}">
          <mat-label>{{formData.title}}</mat-label>
          <mat-select>
            <mat-option *ngFor="let option of formData.widgetData" [value]="option.value">{{option.title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngSwitchCase="formData.type === 'AUTOCOMPLETE'">
        <mat-form-field appearance="outline"
          [ngStyle]="{'width':(f.childField.length === 2) ? '720px' : (f.childField.length === 3) ? '480px'  : (f.childField.length >= 4) ? '345px' : '1490px'}">
          <mat-label>{{formData.title}}</mat-label>
          <input type="text" placeholder="Pick one" aria-label="Admin" matInput [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of formData.widgetData" [value]="option.value">
              {{option.title}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="radioDiv" *ngSwitchCase="formData.type === 'RADIO'"
        [ngStyle]="{'width':(f.childField.length === 2) ? '720px' : (f.childField.length === 3) ? '480px'  : (f.childField.length >= 4) ? '345px' : '1490px'}">
        <label id="example-radio">{{formData.title}} :</label><br>
        <mat-radio-group aria-labelledby="example-radio">
          <mat-radio-button [value]="option.title" *ngFor="let option of formData.widgetData">{{option.title}}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div *ngSwitchCase="formData.type === 'DATE_PICKER'">
        <mat-form-field appearance="outline"
          [ngStyle]="{'width':(f.childField.length === 2) ? '720px' : (f.childField.length === 3) ? '480px'  : (f.childField.length >= 4) ? '345px' : '1490px'}">
          <mat-label>{{formData.title}}</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div *ngSwitchCase="formData.type === 'CHECKBOX'">
        <mat-label>{{formData.title}} :</mat-label><br>
        <section class="check" *ngFor="let option of formData.widgetData">
          <mat-checkbox>{{option.title}}</mat-checkbox> &nbsp;
        </section>
      </div>

    </div>
  </div>
</div>