<form [formGroup]="form" autocomplete="off">
  <div  class="container-fluid p-3" style="overflow-y: scroll; max-height: 85vh;">
      <div class="row ">
          <div class="col-sm-7 col-md-5 col-lg-3 mt-2">
              <mat-form-field appearance="outline">
                  <mat-label>Form Name</mat-label>
                  <input matInput formControlName="name">
              </mat-form-field>
          </div>
          <div class="col-sm-7 col-md-2 mt-2">
              <mat-slide-toggle color="primary" class="pl-5" formControlName="eligibility" #toggle></mat-slide-toggle>
              <br />
              <mat-label class="mt-1 pl-5" style="font-size:small; font-weight: bold;">Eligibility Form</mat-label>
          </div>
          <div class="col-sm-7 col-md-5 col-lg-3 mt-2">
              <mat-form-field appearance="outline" *ngIf="toggle.checked">
                  <mat-label>Select Next Form</mat-label>
                  <mat-select formControlName="nextFormId">
                      <mat-option *ngFor="let form of formList" [value]="form.id">{{form.name}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="col-sm-5 col-md-4 mt-2">
              <button mat-raised-button color="primary" class="font-17 float-right btn-xs-block"
                  (click)="addSection()">Add
                  Section</button>
          </div>

      </div>
      <mat-card class="border rounded p-3 mt-2 create_project" formArrayName="sections"
          *ngFor="let section of sections().controls; let sectionIndex = index">

          <div class="row" [formGroupName]="sectionIndex">
              <div class="col-md-7  mt-2">
                  <mat-form-field appearance="outline" style="width: 40%;">
                      <mat-label>Section Title</mat-label>
                      <input matInput formControlName="sectionTitle">
                  </mat-form-field>
              </div>

              <div class="col-md-5 mt-2">
                  <button mat-icon-button class="float-right mr-4">
                      <i class="material-icons color_grey" (click)="removeSection(sectionIndex)">delete</i>
                  </button>
                  <button mat-stroked-button color="accent" class="float-right mr-1"
                      (click)="addSubSection(sectionIndex)">Add
                      Sub Section</button>
              </div>

              <mat-card class="border rounded p-3 m-3 create_project" formArrayName="subSection"
                  *ngFor="let section of subSection(sectionIndex).controls; let subSectionIndex = index"
                  style="width: 100%;">

                  <div class="row" [formGroupName]="subSectionIndex">
                      <div class="col-md-7  mt-2">
                          <mat-form-field appearance="outline" style="width: 40%;">
                              <mat-label>Sub Section Title</mat-label>
                              <input matInput formControlName="subSectionTitle">
                          </mat-form-field>
                      </div>

                      <div class="col-md-5 mt-2">
                          <button mat-icon-button class="float-right mr-2">
                              <i class="material-icons color_grey"
                                  (click)="removeSubSection(sectionIndex,subSectionIndex)">delete</i>
                          </button>
                          <button mat-stroked-button color="accent" class="float-right mr-1"
                              (click)="addRow(sectionIndex,subSectionIndex)">Add
                              Row</button>
                      </div>

                      <mat-card class="border rounded p-3 m-2 mt-2 create_project" formArrayName="rows"
                          *ngFor="let row of rows(sectionIndex,subSectionIndex).controls; let rowIndex = index"
                          style="width: 100%;">
                          <div class="row" [formGroupName]="rowIndex">

                              <div class="col-md-12">
                                  <button mat-icon-button class="float-right">
                                      <i class="material-icons color_grey"
                                          (click)="removeRow(sectionIndex,subSectionIndex,rowIndex)">delete</i>
                                  </button>
                                  <button mat-stroked-button color="accent" class="float-right"
                                      (click)="addNewField(sectionIndex,subSectionIndex,rowIndex)">Add
                                      Field</button>

                              </div>

                              <mat-card class="border rounded p-3 m-3 mt-2 create_project" formArrayName="fields"
                                  *ngFor="let field of fields(sectionIndex,subSectionIndex,rowIndex).controls; let fieldIndex = index"
                                  style="width: 100%;">
                                  <div class="row" [formGroupName]="fieldIndex">

                                      <div class="col-sm-3 col-md-3 mt-3">
                                          <mat-form-field appearance="outline">
                                              <mat-label>Field Type</mat-label>
                                              <mat-select formControlName="type" #selected>
                                                  <mat-option *ngFor="let controlType of controlTypeList"
                                                      [value]="controlType">
                                                      {{controlType}}
                                                  </mat-option>
                                              </mat-select>
                                          </mat-form-field>
                                      </div>

                                      <div class="col-sm-2 col-md-2 mt-3">
                                          <mat-form-field appearance="outline">
                                              <mat-label>Title</mat-label>
                                              <input matInput formControlName="title">
                                          </mat-form-field>
                                      </div>

                                      <div class="col-sm-2 col-md-2 mt-3">
                                          <mat-form-field appearance="outline">
                                              <mat-label>Validation Type</mat-label>
                                              <mat-select formControlName="validationType">
                                                  <mat-option *ngFor="let validator of validatorList"
                                                      [value]="validator">
                                                      {{ validator.validationTypeName }} </mat-option>
                                              </mat-select>
                                          </mat-form-field>
                                      </div>

                                      <div class="col-sm-1 col-md-1 mt-3">
                                          <mat-form-field appearance="outline">
                                              <mat-label>Min Length</mat-label>
                                              <input matInput formControlName="minLength">
                                          </mat-form-field>
                                      </div>

                                      <div class="col-sm-1 col-md-1 mt-3">
                                          <mat-form-field appearance="outline">
                                              <mat-label>Max Length</mat-label>
                                              <input matInput formControlName="maxLength">
                                          </mat-form-field>
                                      </div>

                                      <div class="col-md-1 mt-2 mt-3">
                                          &nbsp; &nbsp; <mat-slide-toggle color="primary" formControlName="required">
                                          </mat-slide-toggle>
                                          <br />
                                          <label class="mt-1"
                                              style="font-size:small; font-weight: bold;">Required?</label>
                                      </div>

                                      <div class="col-md-1 mt-2 mt-3"
                                          *ngIf="selected.value != 'EDIT_TEXT' && selected.value != 'EDIT_TEXT_PHONE' && selected.value != 'DATE_PICKER'">
                                          &nbsp; &nbsp; <i class="material-icons"
                                              (click)="addWidgetData(sectionIndex,subSectionIndex,rowIndex,fieldIndex)">add_box</i>
                                          <label style="font-size:small; font-weight: bold;">Widgets</label>
                                      </div>


                                      <div class="col-md-1 mt-1 mt-3">
                                          <button mat-icon-button>
                                              <i class="material-icons color_grey"
                                                  (click)="removeField(sectionIndex,subSectionIndex,rowIndex,fieldIndex)">delete</i>
                                          </button>
                                      </div>
                                      <div formArrayName="widgetData">
                                          <div
                                              *ngFor="let widget of widgetData(sectionIndex,subSectionIndex,rowIndex,fieldIndex).controls; let widgetDataIndex=index">
                                              <div class="row " [formGroupName]="widgetDataIndex"
                                                  style="margin: 15px;">

                                                  <div class="col-md-5">
                                                      <mat-form-field appearance="outline">
                                                          <mat-label>Option Title</mat-label>
                                                          <input matInput formControlName="title">
                                                      </mat-form-field>
                                                  </div>

                                                  <div class="col-md-5">
                                                      <mat-form-field appearance="outline">
                                                          <mat-label>Option Value</mat-label>
                                                          <input matInput formControlName="value">
                                                      </mat-form-field>
                                                  </div>

                                                  <div class="col-md-2">
                                                      <button mat-icon-button>
                                                          <i class="material-icons color_grey"
                                                              (click)="removeWidgetData(sectionIndex,subSectionIndex,rowIndex,fieldIndex,widgetDataIndex)">delete</i>
                                                      </button>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </mat-card>
                          </div>
                      </mat-card>
                  </div>
              </mat-card>
          </div>
      </mat-card>
  </div>
  <div class="my-3 text-right fix_bottom">

      <button type="submit" (click)="onSave()" mat-raised-button class="ml-2" color="primary">Create</button>
      
  </div>
</form>

