<h1 class="header">{{formRenderData.formName}}</h1>

<br><br>
<div *ngFor="let f of formRenderData.field" [ngSwitch]="true">
    <div *ngFor="let form of f.section">
        <div class="formRender" *ngFor="let formData of form.childField">

            <mat-form-field appearance="outline" *ngSwitchCase="formData.type === 'EDIT_TEXT'"
                [ngStyle]="{'width':(form.childField.length === 2) ? '720px' : (form.childField.length === 3) ? '480px'  : (form.childField.length >= 4) ? '345px' : '1490px'}">
                <mat-label>{{formData.title}}</mat-label>
                <input matInput value="{{formData.value}}">
            </mat-form-field>

            <mat-form-field appearance="outline" *ngSwitchCase="formData.type === 'EDIT_TEXT_PHONE'"
                [ngStyle]="{'width':(form.childField.length === 2) ? '720px' : (form.childField.length === 3) ? '480px'  : (form.childField.length >= 4) ? '345px' : '1490px'}">
                <mat-label>{{formData.title}}</mat-label>
                <input matInput value="{{formData.value}}">
                <i class="material-icons" matSuffix>phone</i>
            </mat-form-field>

            <div *ngSwitchCase="formData.type === 'DROPDOWN'">
                <mat-form-field appearance="outline"
                    [ngStyle]="{'width':(form.childField.length === 2) ? '720px' : (form.childField.length === 3) ? '480px'  : (form.childField.length >= 4) ? '345px' : '1490px'}">
                    <mat-select [(value)]="formData.value">
                        <mat-option *ngFor="let option of formData.widgetData" [value]="option.value">
                            {{option.title}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div *ngSwitchCase="formData.type === 'API_AUTOCOMPLETE'">
                <mat-form-field appearance="outline"
                    [ngStyle]="{'width':(form.childField.length === 2) ? '720px' : (form.childField.length === 3) ? '480px'  : (form.childField.length >= 4) ? '345px' : '1490px'}">
                    <mat-label>{{formData.title}}</mat-label>
                    <input type="text" matInput [matAutocomplete]="auto" value="{{formData.value}}">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of formData.widgetData" [value]="option.value">
                            {{option.title}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div *ngSwitchCase="formData.type === 'RADIO'"
                [ngStyle]="{'width':(form.childField.length === 2) ? '720px' : (form.childField.length === 3) ? '480px'  : (form.childField.length >= 4) ? '345px' : '1490px'}">
                <label id="example-radio">{{formData.title}} :</label><br>
                <mat-radio-group aria-labelledby="example-radio" *ngFor="let option of formData.widgetData">
                    <mat-radio-button [checked]="option.selected" value="option.value">{{option.title}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <div *ngSwitchCase="formData.type === 'DATE_PICKER'">
                <mat-label>{{formData.title}}:</mat-label><br />
                <mat-form-field appearance="outline"
                    [ngStyle]="{'width':(form.childField.length === 2) ? '720px' : (form.childField.length === 3) ? '480px'  : (form.childField.length >= 4) ? '345px' : '1490px'}">
                    <input matInput [matDatepicker]="picker" [ngModel]="formData.value">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker startAt="{{formData.value}}" #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div *ngSwitchCase="formData.type === 'CHECKBOX'">
                <mat-label>{{formData.title}} :</mat-label><br>
                <section *ngFor="let option of formData.widgetData">
                    <mat-checkbox [checked]="option.selected">{{option.title}}</mat-checkbox> &nbsp;
                </section>
            </div>
        </div>
    </div>
</div>