.notEligiblePage {
    margin: 20px;
}

.noEligibleHeader {
    color: rgb(218, 151, 27);
    text-align: center;
    font-size: 40px;
}

.checkWhy {
    color: rgb(142, 141, 141);
    margin-left: 30px;
}

.errorMessages {
    color: red;
    margin-left: 30px;
}

.backBtn {
    background-color: rgb(217, 146, 13);
    margin-left: 30px;
    width: 120px;
    height: 50px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
}